.header {
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: flex-end;
  background: $primary-color-dark url('../img/header_bg.jpg') no-repeat;
  //background: $primary-color-dark;
  background-size: cover;
}

.headerIntro {
  margin-bottom: 10%;
  max-width: 455px;
  align-self: flex-end;

  &__title {
    font-family: PlayBold;
    color: $white;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: right;
    padding: 5px 20px 5px 60px;
    background: $accent-color;
    margin-bottom: 15px;
  }

  &__text {
    font-family: OpenSansRegular;
    font-size: 0.875rem;
    color: $white;
    line-height: 1.3rem;
    word-break: break-all;
    padding-right: 20px;
  }
}

.nav {
  background: url('../img/navbar_bg.png') repeat-x center bottom;
  padding: 0 15px;
}

.menu {
  @include row-flex();
  margin: 0;

  &__item {
    height: 180px;
    width: 20%;
    &:last-child {
      //border-right: 2px solid rgba($primary-color-light, 0.2);
      &:hover {
        border-right-color: transparent;
      }
    }
  }

  &__link {
    font-family: "OpenSansSemiBold";
    color: $primary-text-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    transition: 320ms all ease-out;
    //border-left: 2px solid rgba($primary-color-light, 0.2);
    border-top: 2px solid transparent;
    &:hover, &_active {
      color: $white;
      border-top: 2px solid $white;
      border-left: none;
      background: $accent-color;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.6) inset;
    }

    i {
      font-size: 3.125rem;
      margin-bottom: 10px;
    }

    span {
      font-size: 0.875rem;
      text-transform: uppercase;
    }

  }
}
